.header {
    background: #F55A5A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.header--icon {
    width: 24px;
    margin: 5px;
}

.header--title {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -1.085px;
    margin: 0;
}